<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/universall.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https:/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <title>
            Mari Bercerita - Profile
        </title>
    </head>
    <body class="light">
        <header>
            {% block navbar %}
            {% with current_nav='jafaskrip' %}
            {% include 'navbar/navbar.html' %}

            {% endwith %}
            {% endblock navbar %}
        </header>
        <section>
            <div class="container-fluid kontainer">
                <div class="row">
                    <div class="col-6">
                            <button type="button" class="btn btn-primary gelapmode" id="darkmode">Dark Mode</button>
                        <h1 class="saya">Saya.</h1>
                        <p class="deskripsi">
                            Perkenalkan, nama panggilan saya Akbar.
                            saya adalah mahasiswa Fasilkom yang salah masuk jurusan.
                            Aslinya saya pengen masuk Sistem Informasi tapi malah masuk Ilmu Komputer.
                            Ceritanya bermula dari sini, waktu saya udah mau lulus, saya masih ngga tau
                            harus milih jurusan apa dan juga waktu itu saya cukup ngga peduli sama yang
                            namanya milih-milih kuliah. saya inget waktu itu milih ilmu komputer karena
                            pengen ngerti komputer biar bisa bisnis dalam bidang it, seperti bapak saya.
                            Setelah itu ambil s2 bisnis, bedanya adalah bapak saya s2 nya juga komputer. 
                            Tapi ternyata ada jurusan SI yang bisa lebih cepat mendapat ilmu komputer sekaligus bisnis.
                            Udah masuk gini, kepikiran sih buat pindah jurusan ke sistem informasi, tapi ternyata ribet.
                            Akhirnya saya berusaha sekuat tenaga untuk survive.
                            Salah satu agar saya bisa survive di Fasilkom adalah dengan cara mengerjakan tugas yang sudah diberikan dosen dengan baik, semoga saya bisa lulus memuaskan dan bisa dapetin S.Kom<br>
                            Aamiin. 
                        </p>
                    </div>
                    <div class="col-6">
                        <div id="accordion">
                            <h3 class="aktivitas">Aktivitas</h3>
                            <div>
                                <p>
                                    Aktivitas yang sedang saya jalani adalah menjalani hari-hari sebagai
                                    mahasiswa ilmu komputer sambil beripkir bagaimana caranya saya bisa
                                    cepat-cepat memiliki bisnis untuk melanjutkan kehidupan.
                                </p>
                            </div>
                            <h3 class="pengalaman">Pengalaman Organisasi/Kepanitiaan</h3>
                            <div>
                                <p>
                                    Perngalaman-pengalaman:
                                </p>
                                <ul>
                                    <li>STAFF Perlengkapan UIAW 2018</li>
                                    <li>STAFF Kampanye Pemira 2018</li>
                                    <li>STAFF SBF BEM Senbud 2018</li>
                                    <li>Kontingen Taekwondo OLIM 2018</li>
                                    <li>Kontingen Film UIAW 2018</li>
                                    <li>STAFF Games CGT 2019</li>
                                    <li>STAFF Direct Marketing Compfest 2019</li>
                                </ul>
                            </div>
                            <h3 class="prestasi">Prestasi</h3>
                            <div>
                                <p>
                                    Prestasi
                                </p>
                                <ul>
                                    <li> Medali Perak - Indonesia Youth and Sport Festival Taekwondo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                </div>
            </div>
        </section>
        <script src="{% static 'js/Jafaskrip.js' %}"></script>
    </body>
</html>
