<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/universall.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <title>
            Mari Bercerita - Home
        </title>
    </head>
    <body>
        <header>
            {% block navbar %}
            {% with current_nav='updateyuk' %}
            {% include 'navbar/navbar.html' %}

            {% endwith %}
            {% endblock navbar %}
        </header>
        <section>
            <div class="container-fluid text-center kontener">
                {% if user.is_authenticated %}
                <h1 class="saya">
                    Hello {{ user.username }}, What's on your mind ?
                </h1>
                {% else %}
                <h1 class="saya">
                    Hello, What's on your mind ?
                </h1>
                {% endif %}
                <form method="POST" class="kotakan">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="button submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
                {% if user.is_authenticated %}
                <div class="overflow-auto">
                    {% for status in status %}
                    <p class="hasil">
                        {{ user.username }} said: {{ status.status }} || Posted on: {{ status.waktu }}
                    </p>
                    {% endfor %}
                </div>
                {% else %}
                <div class="overflow-auto">
                    {% for status in status %}
                    <p class="hasil">
                        Someone said: {{ status.status }} || Posted on: {{ status.waktu }}
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </section>
    </body>
</html>