<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/universall.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <title>akbarrafs - login</title>
</head>
<body>
    <header>
        {% block navbar %}
        {% with current_nav='login' %}
        {% include 'navbar/navbar.html' %}

        {% endwith %}
        {% endblock navbar %}
    </header>
    <section>
        {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                    <h2 class="saya">
                        Hello {{ user.username }} !
                    </h2>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                    Logout from this website?
                    <a href="{% url 'thelogin:logout' %}">
                        Logout
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                    <h1 class="saya">
                        Log In
                    </h1>
                    <form method="POST" style="width: 50px;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="button submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col-5">
                    New on this website?
                    <a class="" href="{% url 'thelogin:register' %}">
                        Register Here.
                    </a>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        {% endif %}
    </section>
</body>
</html>