{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'image/logo.png' %}">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="{% if current_nav == 'updateyuk' %} nav-link active {% endif %} nav-link" href="{% url 'updatestatus:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="{% if current_nav == 'jafaskrip' %} nav-link active {% endif %} nav-link" href="{% url 'updatestatus:onlypage' %}">Profile</a>
            </li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                <a class="{% if current_nav == 'login' %} nav-link active {% endif %} nav-link" href="{% url 'thelogin:login' %}">Dashboard</a>
                {% else %}
                <a class="{% if current_nav == 'login' %} nav-link active {% endif %} nav-link" href="{% url 'thelogin:login' %}">Login</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </nav>