*{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    animation: fade 0.6s;  
    transition: all 0.6s;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.light{
    background-color: white;
    /* background:url(../image/catalinahari.jpg); */
    animation: fade 0.6s; 
}

.dark{
    background-color: black;
    /* background:url(../image/catalinamalam.jpg); */
    animation: fade 0.6s; 
}

h1{
    -webkit-text-fill-color: white;
    margin-top: 20px;
}

.saya{
    -webkit-text-fill-color: black;
    margin-top: 20px;
}

.deskripsi{
    -webkit-text-fill-color: black;
    width: 50vw;
}

.yuhu{
    -webkit-text-fill-color: white;
    width: 50vw;
}


.container-fluid kontener{
    text-align: center;
}

form { 
    margin: 0 auto; 
    width:250px;
}

.form-control {
    text-align: center;
}

.hasil{
    -webkit-text-fill-color: black;
}
.navbar-brand img{
    float: left;
    width: 80px;
    height: auto;
    
}
.nav-link{
    -webkit-text-fill-color: black;
    text-decoration: none; 
    padding: 1px 5px;
    transition: 0.6s ease;
}

.nav-link:hover,
.nav-link.active{
    -webkit-text-fill-color: white;
    background-color: black;
    padding: 1px 5px;
    transition: 0.6s ease;
}

.yiha{
    -webkit-text-fill-color: white;
    padding: 1px 5px;
    transition: 0.6s ease;
}
.yiha:hover,
.yiha.active{
    -webkit-text-fill-color: black;
    background-color: white;
    text-decoration: none; 
    padding: 1px 5px;
    transition: 0.6s ease;
}


.kontainer{
    text-align: justify;
}

.gelapmode{
    /* margin-left: 15px; */
}

.btn-primary{
    color: white;
    background-color: black;
    border-color: white;
    /* margin-left: 15px; */
}
.btn-primary:hover{
    color: black;
    background-color: white;
    border-color: black;
    /* margin-left: 15px; */
}

.gelapmode{
    color: black;
    background-color: white;
    border-color: black;
}

.gelapmode:hover{
    color: white;
    background-color: black;
    border-color: white;
}

#panels{
    margin-top: 110px;
    margin-left: 10px;
}

#accordion{
    margin-top: 120px;
    margin-left: 10px;
}

.berlawanan{
    -webkit-text-fill-color: black;
    background-color:white ;
}

.ui-accordion .ui-accordion-header {
    -webkit-text-fill-color: black;
    background-color:white ;
}


/* .aktivitas{
    
}

.pengalaman{
   
}

.prestasi{
   
} */
/*
.accordion__button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: black;
    color: white;
    text-align: left;
    transition: background 0.2s;
}

.darker{
    background: white;
    color: black;
}

.accordion__button::after{
    content: '\25be';
    float: right;
    transform: scale(1.5);
}

.accordion__button--active{
    background: gray;
}
.accordion__button--active::after{
    content: '\25b4';
} */